
    #tete{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTdt39lK41LUXe8Gx0TvanhgHLFN7Dj6Bsd7g&usqp=CAU) ;
           height: 100;width: 100;}
        #tete{text-align: center;}
        .contact{background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTdt39lK41LUXe8Gx0TvanhgHLFN7Dj6Bsd7g&usqp=CAU);text-align: end;}
         #nav{background-color:yellow ;text-align: end;width: 100; height: 100;
        }
        .image{left: 100%;}
        .propors{display: flex}






